
    <div id="wrapper">
    <div id="header">
        <div id="subheader">
    <div class="container">
        <p>Frete grátis em todo país*</p>

    </div>
</div>

        </div>
    </div>
<!-- 
main header -->

<div id="main-header">
    <div id="logo">
        <span id="ist">My</span><span id="iist">ecommerce</span>
    </div>
    <div id="search">
        <form action="">
            <input class="search-area" type="text" name="text" placeholder="Busca"> 
            <input class= "search-btn" type="submit" name="submit" value="Buscar">

        </form>
    </div>
</div>
<div id="user-menu">
    <i class="fas fa-shopping-cart"></i>
</div>



<!-- <div class="my-12 my-lg-12">
<div class="nav-color nav-prop borda my-6 my-lg-6"><nav class="navbar nav-place navbar-expand-lg ">
  <a class="navbar-brand" [routerLink]="['/home']" href="logo">
    <img src="assets/logo_novo.png" width="80" height="80" alt=" Logo ECO">
  </a>
  <form class="form-inline my-5 my-lg-0">
    <input class="form-control mr-sm-2 click-color" type="search" placeholder="Busca" aria-label="Search">
    <input type="submit" [routerLink]="'/login'" class="btn" value="PESQUISAR ">
  </form>
</nav>
</div>
</div> -->

<nav class="navbar sticky-top navbar-expand-lg nav-color nav-prop">
  <!-- <a class="navbar-brand font-color" [routerLink]="['/home']" href="logo"><img src="assets/logo_novo.png" id="logo"
      width="80" height="80" class="img" alt="Logo ECO"></a> -->

  <button class="navbar-toggler navbar-expand-lg" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado"
    aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
    <span class="navbar-toggler-icon"></span>
  </button>

  
  <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link font-color" [routerLink]="['/home']">Home <span class="sr-only">(current)</span></a>
      </li>
     
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle font-color" [routerLink] id="navbarDropdown" role="button"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Produtos
        </a>
        <div class="dropdown-menu font" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['/produtos']">Todos</a>
          <a class="dropdown-item" [routerLink]="['/produto']">Buscar</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" [routerLink]="['/produtoCadastro']">Cadastro</a>
          <a class="dropdown-item" [routerLink]="['/produtoAtualizar']">Atualizar</a>
        </div>
      </li>
   
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle font-color" [routerLink] id="navbarDropdown" role="button"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Quem somos
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item font" [routerLink]="['/sobrenos']">A Equipe</a>
          <a class="dropdown-item font" [routerLink]="['/empresa']">A Empresa</a>
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link font-color" [routerLink]="'/contato'">Contato</a>
      </li>
      <li class="nav-item">
        <a class="nav-link font-color" [routerLink]="'/cadastro'">Cadastro</a>
      </li>
            <li class="nav-item">
        <a class="nav-link font-color" [routerLink]="'/ajuda'">Ajuda</a>
      </li>

      <li class="nav-item">
          <a class="nav-link font-color" [routerLink]="'/associados'">Seja um(a) associado(a)</a>
        </li>

    </ul>
    
  </div>

  <input type="submit" [routerLink]="'/login'" class="btn" value="Login">
  <input type="submit" [routerLink]="'/login'" class="btn" value="Logout">


</nav>