<div class="container fonte">
    <div class="space"></div>
    <div class="row">
        <!--COLOCAR ESPAÇO ENTRE O CENTRAL DE AJUDA E A NAVBAR-->
        <div class="col-2"></div>
        <div class="col-8">
            <h5 class="header titulo text-center cor">Central de Ajuda e Feedback</h5>
            <div id="accordion">
                <br>


                <div class="card text-center">
                    <div class="card-header" id="heading0">
                        <h5 class="mb-0">
                            <p class=" alignCenter" data-toggle="collapse" data-target="#collapse0"
                                aria-expanded="false" aria-controls="collapse0">
                                Perguntas frequentes
                        </p>
                        </h5>
                    </div>
                    <div id="collapse0" class="collapse" aria-labelledby="heading0" data-parent="#accordion">
                        <div class="card-body alignCenter">
                            Veja aqui algumas dúvidas frequentes.
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" id="heading1">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse1"
                                aria-expanded="false" aria-controls="collapse1">
                                Como eu faço o meu cadastro?
                            </button>
                        </h5>
                    </div>
                    <div id="collapse1" class="collapse cor" aria-labelledby="heading1" data-parent="#accordion">
                        <div class="card-body">
                            Basta ir em “Cadastro” e preencher um formulário para se cadastrar como usuário.
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" id="heading2">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse2"
                                aria-expanded="false" aria-controls="collapse2">
                                Como eu sei que meu login está funcionando?
                            </button>
                        </h5>
                    </div>
                    <div id="collapse2" class="collapse cor" aria-labelledby="heading2" data-parent="#accordion">
                        <div class="card-body">
                            Após logar, a página será redirecionada para home e lá aparecerá o nome de usuário cadastro.
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" id="heading3">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapse3"
                                aria-expanded="true" aria-controls="collapse3">
                                Caso meu login não esteja funcionando, o que acontecerá?
                            </button>
                        </h5>
                    </div>

                    <div id="collapse3" class="collapse show cor" aria-labelledby="heading3" data-parent="#accordion">
                        <div class="card-body">
                            Caso na página de login, uma mensagem de que “usuário ou senha estão inválidos” seja
                            exibida, você provavelmente não possui cadastro. Basta seguir para o Cadastro e criar um
                            novo ou Contato para solicitar recuperação de senha.
                        </div>
                    </div>
                </div>


                <div class="card">
                    <div class="card-header" id="heading4">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapse4"
                                aria-expanded="true" aria-controls="collapse4">
                                Quais são as marcas parceiras da ((ECO))?
                            </button>
                        </h5>
                    </div>

                    <div id="collapse4" class="collapse show cor" aria-labelledby="heading4" data-parent="#accordion">
                        <div class="card-body">
                            Inicialmente as parceiras são: Lola Cosméticos, Inoar, Let Natural Cosméticos, Cativa Natureza,
                            Bioart Cosmetics e Surya Brasil. Como apoiamos pequenos produtores, há a possibilidade de
                            novas parcerias.
                        </div>
                    </div>
                </div>


                <div class="card">
                    <div class="card-header" id="heading5">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapse5"
                                aria-expanded="true" aria-controls="collapse5">
                                Como eu faço para saber o que é um produto “Ecofriendly”?
                            </button>
                        </h5>
                    </div>

                    <div id="collapse5" class="collapse show cor" aria-labelledby="heading5" data-parent="#accordion">
                        <div class="card-body">
                            Basta clicar no ícone com o logo da ((ECO)) ou ir na “Home” e lá terá breve texto sobre o
                            conceito de “Ecofriendly”
                        </div>
                    </div>
                </div>


                <div class="card">
                    <div class="card-header" id="heading6">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapse6"
                                aria-expanded="true" aria-controls="collapse6">
                                Como saber sobre o apoio institucional que a equipe teve para a
                                criação deste site?
                            </button>
                        </h5>
                    </div>

                    <div id="collapse6" class="collapse show cor" aria-labelledby="heading6" data-parent="#accordion">
                        <div class="card-body">
                            Basta ir em “Sobre nós / Apoio institucional” e ler mais sobre a Generation e IOS.
                        </div>
                    </div>
                </div>



                <div class="card">
                    <div class="card-header" id="heading7">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapse7"
                                aria-expanded="true" aria-controls="collapse7">
                                Como eu faço para dar sugestões, críticas, feedbacks ou fazer perguntas?
                            </button>
                        </h5>
                    </div>

                    <div id="collapse7" class="collapse show cor" aria-labelledby="heading7" data-parent="#accordion">
                        <div class="card-body">
                            Basta ir em “Contato” e preencher o seu e-mail, nome, telefone e deixar uma mensagem.
                        </div>
                    </div>
                </div>


                <div class="card">
                    <div class="card-header" id="heading8">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapse8"
                                aria-expanded="true" aria-controls="collapse8">
                                Como eu faço para conhecer mais sobre os trabalhos e vida profissional da equipe?
                            </button>
                        </h5>
                    </div>

                    <div id="collapse8" class="collapse show cor" aria-labelledby="heading8" data-parent="#accordion">
                        <div class="card-body">
                            Basta ir em “Sobre nós / Equipe” e ir nos ícones do LinkedIn e do GitHub e entrar em
                            contato.
                        </div>
                    </div>
                </div>


                <div class="card">
                    <div class="card-header" id="heading9">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapse9"
                                aria-expanded="true" aria-controls="collapse9">
                                Por que a empresa se chama ((ECO))?
                            </button>
                        </h5>
                    </div>

                    <div id="collapse9" class="collapse show cor" aria-labelledby="heading9" data-parent="#accordion">
                        <div class="card-body">
                            O nome ((ECO)) foi escolhido devido a empresa ser uma empresa ecológica e porque queremos
                            ressoar a ideia de que ter cuidado com o meio ambiente é importante. Temos preocupação com
                            um futuro consciente.
                        </div>
                    </div>
                </div>


                <div class="card">
                    <div class="card-header" id="heading10">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapse10"
                                aria-expanded="true" aria-controls="collapse10">
                                Como eu faço para ver os produtos que eu posso comprar?
                            </button>
                        </h5>
                    </div>

                    <div id="collapse10" class="collapse show cor" aria-labelledby="heading10" data-parent="#accordion">
                        <div class="card-body">
                            Basta ir em “Produtos” e escolher o(s) produto(s) de sua preferência.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-1"></div>
    </div>
</div>