<div class="container">

  <div class="space"></div>
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8">
      <div class="space"></div>
      <div class="text-center">
        <h1>Produtos</h1>
      </div>
    </div>
    <div class="col-2"></div>
  </div>

  <div class="space"></div>

  <div class="row">
    <div class="col-2"></div>
    <div class="col-8">
      <div class="col-2"></div>
    </div>

  </div>

  <div class="row">
    <div class="col-2"></div>
    <div class="col-8">
      <div class="container">
        <app-products-list></app-products-list>
      </div>
    </div>
    <div class="col-2"></div>
  </div>
</div>
