<div class="services-section">
    <div class="inner-width">
      <h1 class="section-title">Junte-se à (( ECO ))</h1>
      <div class="border"></div>
      <div class="services-container">

        <div class="service-box">
          <div class="service-icon">
            <i class="fas fa-spa"></i>
          </div>
          <div class="service-title">O Programa</div>
          <div class="service-desc">
            Rede de afiliação gratuita à (( ECO )) que permite a divulgação e venda de produtos de pequenos produtores. 
          </div>
        </div>

        <div class="service-box">
          <div class="service-icon">
            <i class="fas fa-code"></i>
          </div>
          <div class="service-title">Cadastro</div>
          <div class="service-desc">
              Faça seu cadastro em www.eco.com.br e aguarde nosso contato.
          </div>
        </div>

        <div class="service-box">
          <div class="service-icon">
              <i class="fas fa-envelope"></i>
          </div>
          <div class="service-title">Atendimento</div>
          <div class="service-desc">
            Suporte via e-mail e acompanhamento com agilidade e eficiência.
          </div>
        </div>

        <div class="service-box">
          <div class="service-icon">
              <i class="fas fa-shield-alt"></i>
          </div>
          <div class="service-title">Segurança</div>
          <div class="service-desc">
              Ambiente seguro, sistema de pagamento confiável e privacidade garantida.
          </div>
        </div>

        <div class="service-box">
          <div class="service-icon">
              <i class="fas fa-money-bill-wave"></i>
          </div>
          <div class="service-title">Pagamentos</div>
          <div class="service-desc">
            Oferecemos garantia de pagamento em até 10 dias.
          </div>
        </div>

        <div class="service-box">
          <div class="service-icon">
              <i class="far fa-address-card"></i>
          </div>
          <div class="service-title">Fale com a gente!</div>
          <div class="service-desc">
            Ainda possui dúvidas? Entre em contato em: ...
          </div>
        </div>
      </div>
    </div>
  </div>



