<!DOCTYPE html>
<html>
<head>
	<title>Contato</title>
	
	
</head>
<body>
	<div class="container">
		<div class="contact-box">
			<div class="left"></div>
			<div class="right">
				<h2>Contato</h2>
				<input type="text" class="field" placeholder="Seu Nome">
				<input type="text" class="field" placeholder="Seu Email">
				<input type="text" class="field" placeholder="Telefone">
				<textarea placeholder="Mensagem" class="field"></textarea>
				<button class="btn">Enviar</button>
			</div>
		</div>
	</div>
</body>
</html>