<!-------------------------O TIME---------------------->

<body class="font">
      <section class="team-area pb-100 pt-100 " id="team">
         <div class="container">
            <div class="row section-title">
               <div class="col-md-2">
                  <h3 class="font"> A Equipe <span>Quem somos nós?</span></h3>
               </div>
               
               <div class="col-md-10">
                  <p class="text2"> Devs preocupadxs em mudar a visão sobre o universo eco friendly e provocar a transformação do ecossistema sociambiental. </p>
               </div>
            </div>
   
            <div class="row justify-content-center">
               <div class="col-md-4">
                  <div class="single-team">
                     <img src="../../../../assets/Clara.jpg" alt="">
                     <div class="team-hover">
                        <div class="team-content">
                           <h4>Clara Vidal <span>Dev Web Full Stack</span></h4>
                           <p>Potterhead, geek, gamer, apaixonada por organização e infraestrutura está vivendo o grande sonho de atuar na área de tecnologia. </p>
                           <ul>
   
                              <li><a href="https://www.linkedin.com/in/clara-vidal-carvalho"><i
                                       class="fa fa-linkedin"></i></a></li>
                              <li><a href="https://github.com/claravidal"><i class="fab fa-github"></i></a></li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
   
               <div class="col-md-4">
                  <div class="single-team">
                     <img src="assets/Leticia.jpg" alt="">
                     <div class="team-hover">
                        <div class="team-content">
                           <h4>Letícia Assis <span>Dev Web Full Stack</span></h4>
                           <p>O amor e dedicação por programação aconteceu por influência do curso de Engenharia Elétrica e só aumenta a cada dia.
                           </p>
                           <ul>
   
                              <li><a href="https://www.linkedin.com/in/devleticiaassis"><i class="fa fa-linkedin"></i></a>
                              </li>
                              <li><a href="https://github.com/DevLeticiaAssis"><i class="fab fa-github"></i></a></li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="single-team">
                     <img src="assets/Raul.jpg" alt="">
                     <div class="team-hover">
                        <div class="team-content">
                           <h4> Raul Alvarenga <span>Dev Web Full Stack</span></h4>
                           <p>Cientista da Computação em formação e autodidata desde a infância, tem grande afinidade com a área da tecnologia e desenvolvimento.</p>
                           <ul>
   
                              <li><a href="https://www.linkedin.com/in/raul-alvarenga"><i class="fa fa-linkedin"></i></a>
                              </li>
                              <li><a href="https://github.com/raullveiga"><i class="fab fa-github"></i></a></li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
   
            <hr/>
   
            <div class="row justify-content-center">
               <div class="col-md-4">
                  <div class="single-team">
                     <img src="assets/Samanta.jpg" alt="">
                     <div class="team-hover">
                        <div class="team-content">
                           <h4>Samanta Guimarães <span>Dev Web Full Stack</span></h4>
                           <p>Bacharel em Marketing, entrou na área de desenvolvimento devido a paixão que adquiriu na infância pela tecnologia. Fã de cultura pop e games.</p>
                           <ul>
   
                              <li><a href="https://www.linkedin.com/in/samanta-guimaraes"><i
                                       class="fa fa-linkedin"></i></a>
                              </li>
                              <li><a href="https://github.com/samantaog"><i class="fab fa-github"></i></a></li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
   
               <div class="col-md-4">
                  <div class="single-team">
                     <img src="assets/Suellen.jpg" alt="">
                     <div class="team-hover">
                        <div class="team-content">
                           <h4>Suellen Azevedo <span>Dev Web Full Stack</span></h4>
                           <p> É apaixonada por jogar video game, Star Wars, tecnologia, mundo geek e por isso começou a programar.  </p>
                           <ul>
   
                              <li><a href="https://www.linkedin.com/in/suellen-azevedo"><i class="fa fa-linkedin"></i></a>
                              </li>
                              <li><a href="https://github.com/suellenazevedo"><i class="fab fa-github"></i></a></li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
            </div>