<div class="footer-main-div">

  <div class="footer-social-icons">
    <ul>
      <li><a href="#" target="blank"><i class="fab fa-facebook"></i></a></li>
      <li><a href="#" target="blank"><i class="fab fa-github"></i></a></li>
      <li><a href="#" target="blank"><i class="fab fa-instagram"></i></a></li>
       <li><a href="#" target="blank"><i class="fab fa-linkedin"></i></a></li>
    </ul>
  </div>
  <div class="footer-menu-one">
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">Produtos</a></li>
      <li><a href="#">Sobre nós</a></li>
      <li><a href="#">Contato</a></li>
      <li><a href="#">Associe-se</a></li>
  </ul>
  </div>
  <img id="bUp" (click)="sobeTopo()" src="../../../../assets/button_up.png">
  <div class="footer-bottom">
    <p><i class="far fa-copyright"></i>2019 - 2020 (( ECO )). Todos os direitos reservados.</p>
  </div>
  

<!-- 
  <i id="bUp"  (click)="sobeTopo()" class="fas fa-chevron-circle-up"></i> -->

  </div>




