
<div class="aboutus-section font background">
       <div class="container">
            <!-- <div class="parallax"></div> -->
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="aboutus">
                    <h2 class="aboutus-title">((ECO))</h2>
                    <p class="aboutus-text"> É um projeto eco-friendly, diverso, inclusivo, transparente e preocupado com os problemas socioambientais.</p>
                    <p class="aboutus-text"> É uma iniciativa que oferece cosméticos de bem-estar, não testados em animais e biodegradáveis.</p>
                    <p class="aboutus-text">Um dos objetivos é incentivar pequenos produtores a crescerem profissionalmente e pessoalmente, por meio da cocriação de produtos para consumo consciente no Brasil.</p>
                    <!-- <a class="aboutus-more" href="#">Saiba Mais</a> -->
                </div>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="aboutus-banner">
                        <img id="imgf" src="assets/centro_empresa.png" alt="">
                </div>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="feature">
                    <div class="feature-box">
                        <div class="clearfix">
                            <!-- <div class="iconset">
                                <span class="glyphicon glyphicon-cog icon"></span>
                            </div> -->
                            <div class="feature-content">
                                <h4>Eco - Friendly</h4>
                                <p>É um termo em inglês cuja tradução significa "amigável ao meio ambiente". Em outros termos, eco-friendly se refere a algo que não causa danos socioambientais ou tem impactos reduzidos em comparação a um produto, evento, situação ou postura equivalente. </p>
                            </div>
                        </div>
                    </div>
                    <div class="feature-box">
                        <div class="clearfix">
                            <!-- <div class="iconset">
                                <span class="glyphicon glyphicon-cog icon"></span>
                            </div> -->
                            <div class="feature-content">
                                <h4>Reliable services</h4>
                                <p>Donec vitae sapien ut libero venenatis faucibu. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt</p>
                            </div>
                        </div>
                    </div>
                    <div class="feature-box">
                        <div class="clearfix">
                            <!-- <div class="iconset">
                                <span class="glyphicon glyphicon-cog icon"></span>
                            </div> -->
                            <div class="feature-content">
                                <h4>Great support</h4>
                                <p>Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



</div>
